<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <link rel='stylesheet' href='/css/style.css'>
        <script src="/js/main.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container main-container">
            {{> header}}
            <div class="content index">
                <div class="index__title">Работа </br> для каждого</div>
                <div class="index__buttons">
                    <a href="/vacancies#vacancies-form" class="index__button">Разместить вакансию</a>
                    <a href="/summaries#summaries-form" class="index__button">Разместить резюме</a>
                </div>
            </div>
            {{> footer}}
        </div>
    </body>
</html>
