<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <link rel='stylesheet' href='/assets/css/style.css'>
    </head>
    <body>
        <div class="container">
            {{> header}}
            <div class="content vacancies">
                {{> search}}
                {{> categories}}
                <div class="vacancies__main">
                    {{> filters}}
                    <ul class="vacancies__list">
                        
                    </ul>
                </div>
                <form class="form" action="/vacancies/add" method="POST" enctype="application/x-www-form-urlencoded">
                    {{> form}}
                </form>
            </div>
            {{> footer}}
        </div>
    </body>
</html>