<div class="categories">
    <div class="categories__title">Выберите категорию:</div>
    <div class="categories__columns">
        <ul class="categories__column">
            <li class="categories__item">Административный персонал</li>
            <li class="categories__item">Банки, инвестиции</li>
            <li class="categories__item">Безопасность</li>
            <li class="categories__item">Бухгалтерия, финансы</li>
            <li class="categories__item">Менеджмент</li>
            <li class="categories__item">Государственная служба</li>
            <li class="categories__item">Домашний персонал</li>
        </ul>
        <ul class="categories__column">
            <li class="categories__item">Информационные технологии</li>
            <li class="categories__item">Искусство, развлечения</li>
            <li class="categories__item">Реклама</li>
            <li class="categories__item">Медицина</li>
            <li class="categories__item">Образование</li>
            <li class="categories__item">Продажи</li>
            <li class="categories__item">Производство</li>
        </ul>
        <ul class="categories__column">
            <li class="categories__item">Салоны красоты</li>
            <li class="categories__item">Спорт, фитнес</li>
            <li class="categories__item">Страхование</li>
            <li class="categories__item">Недвижимость</li>
            <li class="categories__item">Транспорт</li>
            <li class="categories__item">Туризм</li>
            <li class="categories__item">Юриспруденция</li>
        </ul>
    </div>
</div>