<footer class="footer">
    <ul class="footer__menu">
        <li class="footer__item">
            <a href="/vacancies" class="footer__link">Вакансии</a>
        </li>
        <li class="footer__item">
            <a href="/summaries" class="footer__link">Резюме</a>
        </li>
    </ul>
    <div class="socials">
        <a href="#" class="sprite sprite-facebook"></a>
        <a href="#" class="sprite sprite-instagram"></a>
        <a href="#" class="sprite sprite-twitter"></a>
        <a href="#" class="sprite sprite-vk"></a>
    </div>
</footer>