    <div class="form__columns">
        <div class="form__column">
            <input type="text" class="form__input" name="title" placeholder="Заголовок">
            <input type="text" class="form__input" name="phone" placeholder="Номер телефона">
            <input type="text" class="form__input" name="salary" placeholder="Зарплата">
        </div>
        <div class="form__column">
            <input type="text" class="form__input" name="town" placeholder="Город">
            <input type="text" class="form__input" name="email" placeholder="Электронная почта">
            <select required class="form__input form__select" name="category">
                <option selected value="Не выбрано" class="form__categories-option" >Не выбрано</option>
                <option value="Административный персонал" class="form__categories-option">Административный персонал</option>
                <option value="Банки, инвестиции" class="form__categories-option">Банки, инвестиции</option>
                <option value="Безопасность" class="form__categories-option">Безопасность</option>
                <option value="Бухгалтерия, финансы" class="form__categories-option">Бухгалтерия, финансы</option>
                <option value="Менеджмент" class="form__categories-option">Менеджмент</option>
                <option value="Государственная служба" class="form__categories-option">Государственная служба</option>
                <option value="Домашний персонал" class="form__categories-option">Домашний персонал</option>
                <option value="Информационные технологии" class="form__categories-option">Информационные технологии</option>
                <option value="Искусство, развлечения" class="form__categories-option">Искусство, развлечения</option>
                <option value="Реклама" class="form__categories-option">Реклама</option>
                <option value="Медицина" class="form__categories-option">Медицина</option>
                <option value="Образование" class="form__categories-option">Образование</option>
                <option value="Продажи" class="form__categories-option">Продажи</option>
                <option value="Производство" class="form__categories-option">Производство</option>
                <option value="Салоны красоты" class="form__categories-option">Салоны красоты</option>
                <option value="Спорт, фитнес" class="form__categories-option">Спорт, фитнес</option>
                <option value="Страхование" class="form__categories-option">Страхование</option>
                <option value="Недвижимость" class="form__categories-option">Недвижимость</option>
                <option value="Транспорт" class="form__categories-option">Транспорт</option>
                <option value="Туризм" class="form__categories-option">Туризм</option>
                <option value="Юриспруденция" class="form__categories-option">Юриспруденция</option>
            </select>
        </div>
     </div>
    <textarea class="form__input form__textarea" name="text" placeholder="Текст"></textarea>
    <div class="form__button">
        <input type="submit" class="form__submit" name="" value="отправить">
    </div>