    <div class="form__title">Не нашли то, что искали?</div>
    <div class="form__columns">
        <div class="form__column">
            <input type="text" class="form__input" name="name" placeholder="Имя">
            <input type="text" class="form__input" name="phone" placeholder="Номер телефона">
            <input type="text" class="form__input" name="salary" placeholder="Зарплата">
        </div>
        <div class="form__column">
            <input type="text" class="form__input" name="town" placeholder="Город">
            <input type="text" class="form__input" name="email" placeholder="Электронная почта">
            <select required class="form__input form__select" name="category">
                <option selected value="s0" class="form__categories-option" >Не выбрано</option>
                <option value="s1" class="form__categories-option">Административный персонал</option>
                <option value="s2" class="form__categories-option">Банки, инвестиции</option>
                <option value="s3" class="form__categories-option">Безопасность</option>
                <option value="s4" class="form__categories-option">Бухгалтерия, финансы</option>
                <option value="s5" class="form__categories-option">Менеджмент</option>
                <option value="s6" class="form__categories-option">Государственная служба</option>
                <option value="s7" class="form__categories-option">Домашний персонал</option>
                <option value="s8" class="form__categories-option">Информационные технологии</option>
                <option value="s9" class="form__categories-option">Искусство, развлечения</option>
                <option value="s10" class="form__categories-option">Реклама</option>
                <option value="s11" class="form__categories-option">Медицина</option>
                <option value="s12" class="form__categories-option">Образование</option>
                <option value="s13" class="form__categories-option">Продажи</option>
                <option value="s14" class="form__categories-option">Производство</option>
                <option value="s15" class="form__categories-option">Салоны красоты</option>
                <option value="s16" class="form__categories-option">Спорт, фитнес</option>
                <option value="s17" class="form__categories-option">Страхование</option>
                <option value="s18" class="form__categories-option">Недвижимость</option>
                <option value="s19" class="form__categories-option">Транспорт</option>
                <option value="s20" class="form__categories-option">Туризм</option>
                <option value="s21" class="form__categories-option">Юриспруденция</option>
            </select>
        </div>
     </div>
    <textarea class="form__input form__textarea" name="text" placeholder="Текст"></textarea>
    <div class="form__button">
        <input type="submit" class="form__submit" name="" value="отправить">
    </div>